#board {
  padding-top: 3em;  
  text-align: center;
}

.row {
    clear: right;
    height: 100px;
    width: 302px;
    margin: 0 auto;
}

.row > div {
    width: 100px;
    height: 100px;
    float: left; 
}

.top {
    border-bottom: black solid 1px;
}

.center {
    border-bottom: black solid 1px;
}

.bottom {
    
}

.left {
    border-right: black solid 1px;
}

.middle {
    border-right: pink solid 15 px;
}

.right {
    border-left: black solid 1px;
}


.top , .left {

}